:root{
---branding-color:#8D6C57;
---primary-color: #F2E5D3;
---secondary-color:#E1B77B;
---reserve-color:#501E23;
---light-color: #4A2628;
}

body{
  background-color: var(---primary-color);
} 
 header h1{

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  line-height: 1.50;
  text-transform:uppercase;
  padding: 0 10px 20px;
  color: #ffff;
}

 header h2{
  color: var(---secondary-color);
  letter-spacing: 3px;
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;


}
nav{
  padding: 20px;
  position: sticky;
}
nav ul{
  padding: 0;
  margin: 0;
}

nav li{
  display: inline;
  list-style: none;
  line-height: 15px;
  margin-left: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
}
nav a{
  text-decoration: none;
  color: var(---branding-color);
  transition: all 100ms ease-in-out;
 
}
nav a:hover, nav li.active a{
  text-decoration: underline;
}


header{
background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero-2.jpg');
width: 100%;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
margin: 0;


}

footer{
 color: var(---light-color);
 margin-top: 10px 20px;
 padding: 20px 20px;
 border-top: 1px solid #aea8a8;
 padding-top: 10px;

 
}
footer ul{
  padding: 0;
}

footer li{
  list-style: none;
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  opacity: 0.9;


}
footer h3{
  font-size: 20px;
  font-weight: normal;
  opacity: 0.9;
  line-height: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section.grid-footer{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  padding: 20px 10px 100px 10px;
  
}
h4{
  font-size: 20px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 opacity: 0.9;
 letter-spacing: 1px;
}
 
.text-line p{
  font-size: 42px;
  color: var(---reserve-color);
  font-family: 'Dancing Script', cursive;
  display: block;
  line-height: 60px;
  margin-top: 10px;
  max-width: 100%;
  text-align: center;
  letter-spacing: 2px;
 

 
}
.text-line h5{
  font-size: 50px;
  color: var(---reserve-color);
  font-weight: bold;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  line-height: 1.5;
  letter-spacing: 2px;
  max-width: 100%;
 
}

.text-line{
  padding: 60px;
}
 





.text {
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: underline; 
}










.salon-text{
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 line-height: 25px;
 font-size: 16px;
 font-weight: normal;
 color: var(---light-color);
}
.salon-description{
  padding: 120px 60px;
  color: var(---reserve-color);
  
}
.about-us-text{
color: var(---light-color);
 line-height: 25px;
 font-size: 16px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: normal;
}

.welcome-title, .sobre-nosotros-title{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 30px;
font-weight: bold;
opacity: 0.9;
line-height: 10px;
text-transform: uppercase;
letter-spacing: 1px;
}

.welcome-to-salon{
  padding: 0;
  margin-top: 50px;
  margin-bottom: 100px;
}


.welcome-to-salon img{
  border-radius: 20px;
  max-width: 600px;
}

.about-us img{
 max-height: 800px;
 border-radius: 10px;
}
 .sobre-nosotros-title{
color: var(---reserve-color);
margin: 48px 20px;

 }
 .signature{
  max-width: 350px;
 }


 .about-us h2{
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color: var(---light-color);
 font-weight: 500px;
 letter-spacing: 1px;
 line-height: 30px;
 opacity: 0.9;
}
.hero-header{
  padding: 230px 30px;
}

.logo{
  max-width: 140px;
  margin: 0;
}
.main-button{
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  font-family: 'TOpen sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: var(---primary-color);
  background-color:var(---branding-color);
  padding: 18px 30px;
  border-radius: 10px;
  border: 1px solid;
  box-shadow:2px 4px 6px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  
}
.main-button:hover{
   background-color: var(---primary-color);
   color: var(---branding-color);
   border: 1px solid;
}
.navigation-btn{
  line-height: 30px;
  height: 30px;
  padding: 15px 20;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  
}
.navigation-btn:hover{
  background-color: var(---primary-color);
}
.social-links a{
  margin-top: 10px;
  padding: 10px 14px;
  font-size: 40px;
  transition: all 100ms ease-in-out;
  color: #8D6C57;
}

.social-links a:hover {
 font-size: 60px;
}

.prices img{
  margin: 0 auto;
  display: block;
}

.grid-contacts{
display: grid;
grid-template-columns: 2fr 2fr;
margin-top: 100px;


}
.contacts ul{
  padding: 200px 0;
}
.contacts li{
  list-style: none;
  margin: 0;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  opacity: 0.9;
  color: var(---light-color);
}

.embed{
  width: 100%;
  aspect-ratio: 2 /1;
}
.image-prices{
  max-width: 500px;
 padding: 100px 0;
}
.booking{
  padding: 150px 100px;
  text-align: center;
}
.booking p{
font-family: 'DM Serif Display', serif;
font-size: 40px;
color: var(---reserve-color);
}

@media (max-width:960px) {
  header h1{
  font-size: 20px;
  }
  header h2{
    font-size: 15px;
  }
  h4{
    font-size: 17px;
    line-height: 1.2;
  
  }

  footer{
    margin:0;
    padding: 20px;
  }
  footer li{
   font-size: 13px;
   padding: 0;
  }
footer h3{
  font-size: 15px;
  margin: 5px 5px;
}
nav{
  padding: 5px;
 
}
 nav li{
text-align: center;
margin: 0px;
padding: 0 5px;
font-size: 10px;
}
section.grid-footer{
   
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    padding:0;
  }

.navigation-mobile{
  margin-top: 0;
  padding-top: 0;
}
  .navigation-btn{
    display: none;
  }
  .main-button{
    font-size: 15px;
  }
  .logo{
    max-height: 50px;
    display: block;
    justify-content: center;
    
   
  }
  .welcome-to-salon img{
  max-width: 300px;
  display: block;
  margin: 0 auto;
  padding:10px 10px ;
  }
  .welcome-to-salon{
   margin-top: 50px;
  }
  .text-line p{
    font-size: 30px;
    line-height: 30px;
    padding: 20px;
  }
  .text-line h5{
    font-size: 30px;
  }
  .text-line{
    padding: 40px 10px;
    margin-top: 20px;
  }
 
  .welcome-title{
    font-size: 15px;

  }
  .salon-description{
    padding: 60px 30px;
    text-align: center;
  }

  .signature{
    max-width: 150px;
    padding: 0;
  }
   .about-us .row {
    flex-direction: column;
    align-items: center;
  }

  .about-us .col {
    width: 100%;
  }
  .about-us h2{
    font-size: 15px;
    line-height: 20px;
    text-transform: none;
    
  }
  .about-us h1{
    font-size: 15px;
    margin: 20px 20px;
    
  }
.about-us img{
  max-height: 450px;
 display: block;
 margin: 0 auto;

}
.about-us-text{
text-align: center;
 padding-top: 30px;
}

.grid-contacts{
  grid-template-columns: 1fr;
}
.contacts li{
  font-size: 15px;
}
.contacts ul{
padding: 10px;
}

.grid-contacts{
margin: 50px auto;
padding: 20px;
  
}

.image-prices{
  max-width: 380px;
}
.booking{
  padding: 70px 0px;
  text-align: center;
}
.booking p{
font-size: 20px;
}


}
 @media (max-width:1300px) {
  .welcome-title{
    font-size: 20px;
  }
  
 }
